{
  "openapi": "3.1.0",
  "info": {
    "title": "Papers API",
    "version": "1.0.0",
    "summary": "Read-only semantic search over machine-learning conference papers.",
    "description": "Search and browse papers from ML conference proceedings (NeurIPS, ICML, ICLR, PMLR and others).\n\nSearch is embedding-based: the `search` string is embedded with a `gte-small` model and matched against paper abstracts using pgvector cosine similarity (threshold 0.8). Prefer natural-language topical queries over boolean keyword strings.\n\nNo authentication is required. There is currently no enforced rate limit; clients should stay under roughly 20 search requests per minute and be prepared to handle HTTP 429 with a `Retry-After` header, which will be introduced later.",
    "contact": {
      "name": "Papers",
      "url": "https://papers.app"
    }
  },
  "servers": [
    {
      "url": "https://papers.app",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "papers",
      "description": "Paper search and browse"
    },
    {
      "name": "venues",
      "description": "Indexed conference venues"
    }
  ],
  "paths": {
    "/api/papers": {
      "get": {
        "operationId": "searchPapers",
        "tags": ["papers"],
        "summary": "Search or browse papers",
        "description": "When `search` is provided, results are ranked by semantic similarity to the query. When `search` is omitted, the endpoint browses the paper table with filters applied and **result ordering is unspecified**.\n\nPage size is fixed at 50. The `count` field reports the number of results on the current page, not the total number of matches; infer the last page from a `count` below 50.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Natural-language topical query, e.g. \"sparse attention for long context\". Omit to browse without ranking. Each distinct value costs an embedding computation, so reuse identical strings where possible.",
            "schema": { "type": "string" },
            "example": "sparse attention for long context"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based page number. 50 results per page.",
            "schema": { "type": "integer", "minimum": 1, "default": 1 },
            "example": 1
          },
          {
            "name": "venue",
            "in": "query",
            "required": false,
            "description": "Venue abbreviation to filter by. Repeat the parameter to include several venues (`?venue=NeurIPS&venue=ICML`). Valid values come from `GET /api/venues`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": { "type": "string" }
            },
            "example": ["NeurIPS"]
          },
          {
            "name": "year_min",
            "in": "query",
            "required": false,
            "description": "Inclusive lower bound on publication year. Non-numeric values currently produce a 500 response rather than a 400.",
            "schema": { "type": "integer" },
            "example": 2023
          },
          {
            "name": "year_max",
            "in": "query",
            "required": false,
            "description": "Inclusive upper bound on publication year. Non-numeric values currently produce a 500 response rather than a 400.",
            "schema": { "type": "integer" },
            "example": 2026
          },
          {
            "name": "has_code",
            "in": "query",
            "required": false,
            "description": "Restrict to papers with a known code URL. Only the exact string `true` enables the filter; any other value is treated as false.",
            "schema": { "type": "string", "enum": ["true"] },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Matching papers.",
            "headers": {
              "Cache-Control": {
                "description": "Always `public, s-maxage=300, stale-while-revalidate=60`.",
                "schema": { "type": "string" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PapersResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Not currently returned, but reserved — handle it in long-running clients.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": { "type": "integer" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Search failed. Also returned for malformed numeric parameters.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/venues": {
      "get": {
        "operationId": "listVenues",
        "tags": ["venues"],
        "summary": "List indexed venue abbreviations",
        "description": "Returns the venue abbreviations available as `venue` filter values on `GET /api/papers`. For which years are covered per venue, see https://papers.app/coverage.",
        "responses": {
          "200": {
            "description": "Indexed venues.",
            "headers": {
              "Cache-Control": {
                "description": "Always `public, s-maxage=300, stale-while-revalidate=60`.",
                "schema": { "type": "string" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VenuesResponse" }
              }
            }
          },
          "500": {
            "description": "Failed to fetch venues.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PapersResponse": {
        "type": "object",
        "required": ["success", "count", "results"],
        "properties": {
          "success": { "type": "boolean", "const": true },
          "count": {
            "type": "integer",
            "description": "Number of results on this page — NOT the total number of matches."
          },
          "results": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Paper" }
          }
        }
      },
      "VenuesResponse": {
        "type": "object",
        "required": ["success", "count", "venues"],
        "properties": {
          "success": { "type": "boolean", "const": true },
          "count": { "type": "integer" },
          "venues": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Venue" }
          }
        }
      },
      "Venue": {
        "type": "object",
        "properties": {
          "abbrev": {
            "type": ["string", "null"],
            "description": "Venue abbreviation, usable as a `venue` filter value.",
            "examples": ["NeurIPS", "ICML", "ICLR"]
          }
        }
      },
      "Paper": {
        "type": "object",
        "description": "A paper record. Responses may include additional internal fields that are not part of the stable contract — notably `abstract_embedding` (a large raw vector), plus `venue_id`, `status` and `normalized_title`. Ignore any property not documented here; do not parse or depend on them.",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": ["string", "null"],
            "format": "uuid",
            "description": "Stable identifier for the paper."
          },
          "title": { "type": ["string", "null"] },
          "authors": {
            "type": ["array", "null"],
            "items": { "type": "string" },
            "description": "Author names, in publication order.",
            "examples": [["Ada Lovelace", "Alan Turing"]]
          },
          "abstract": { "type": ["string", "null"] },
          "year": {
            "type": ["integer", "null"],
            "description": "Publication year of the venue.",
            "examples": [2025]
          },
          "abbrev": {
            "type": ["string", "null"],
            "description": "Abbreviation of the venue the paper appeared in.",
            "examples": ["NeurIPS"]
          },
          "pdf_url": { "type": ["string", "null"], "format": "uri" },
          "code_url": {
            "type": ["string", "null"],
            "format": "uri",
            "description": "Repository URL, when one is known. Null unless discovered."
          },
          "arxiv_id": { "type": ["string", "null"], "examples": ["2401.01234"] },
          "arxiv_url": { "type": ["string", "null"], "format": "uri" },
          "like_count": {
            "type": ["integer", "null"],
            "description": "Likes from Papers users."
          },
          "view_count": {
            "type": ["integer", "null"],
            "description": "Views from Papers users."
          },
          "created_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "When the record was ingested, not when the paper was published."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["success", "error"],
        "properties": {
          "success": { "type": "boolean", "const": false },
          "error": { "type": "string", "description": "Human-readable error message." }
        }
      }
    }
  }
}
